@media (min-width: 1200px){
	.container{
		max-width: 1180px;
	}
}
@media only screen and (max-width: 1024px){
	body{
		width: 100%;
	}
	.container{
		width: 100% !important;
	}
	header .banner-content{
		right: 10% !important;
	}
	header{
		width: 100%;
	}
	header .banner-top{
		width: 100% !important;
	}
	header .banner-top .logo{
		padding-left: 5%;
	}
	header .banner-top .main-menu{
		padding: 0;
	}
	.content-4 .cover{
		padding-top: 70px !important;
    	padding-left: 70px !important;
	}
	.content-2 .tabs{
		height: auto !important;
	}
	section.content-2 .service{	display: none !important;}
	section.content-2 .service.active{
		display: flex !important;
		justify-content: space-around !important;
		position: relative !important;
	}
}
/*end 1024px*/

@media only screen and (max-width: 992px){
	header .banner-top .main-menu ul{
		display: none;
	}
	header .banner-top .logo{
		padding-left: 10%;
	}
	header .banner-top .main-menu .logo-menu{
		visibility: visible;
		text-align: right;
    	font-size: 20px;
    	padding: 0 5%;
    	line-height: 0;
	}
	header .main-menu ul{background-color: white !important;	}
	header .main-menu ul li:after{display: none;}
	header .main-menu ul li{
		margin: 0 !important;
		text-align: left !important;
		padding: 5px 10px !important;
	}
	header .main-menu ul li i{
		float: right !important;
		font-size: 22px;
	}
	header .main-menu ul li:nth-child(8) span{
		left: 25px ;
	}
}
/*end 992*/

@media only screen and (max-width: 768px){
	header .nut .class-to-style{
		font-size: 30px !important;
		transition: 0.4s;
	}
	header .banner-content{
		right: 5% !important;
		top:25% !important;
	}
	header .banner-top .main-menu ul{
		display: none;
	}
	header .banner-top .logo{
		padding-left: 10%;
	}
	header .banner-top .main-menu .logo-menu{
		visibility: visible;
		text-align: right;
    	font-size: 20px;
    	padding: 0 5%;
	}
	section.content-3 .els-3 .el-3 .text h4{
		font-size: 11px !important;
		margin-bottom: 10px;
		transition: 0.2s;
	}
	section.content-3 .els-3 .el-3 .text span{
		font-size: 8px;
		transition: 0.2s;
	}
	.content-4 .cover{
		background-image: -webkit-linear-gradient(top, #f4f5f9 0%, white 100%) !important;
		padding: 100px !important;
	}
	.content-4 .btn-control-cover{
		visibility: visible !important;
		text-align: right;
		padding: 20px;
		font-size: 30px;
		color: grey;
		display: none;
	}
	footer .row{
		width: 100%;
		margin: 0; 
	}
	footer .row .col-12{margin-bottom: 15px; }
	section.content-2 .service .sv{
		width: calc(100%/2 - 60px/2)!important; 
	}
	section.content-3 .els-3 .el-3{
		width: calc(100%/1 - 40px/1) !important;
	    margin: auto;
	    margin-bottom: 10px;
	}
}
/*end 768px*/
@media only screen and (max-width: 640px){
	header .banner-content{
		right: 0% !important;
		top: 20% !important;
	}
	header .banner-content h1{
		font-size: 40px !important;
	}
}
@media only screen and (max-width: 576px){
	.content-1 .els .el .el_content{
		padding: 10px !important;
	}
	header .banner-content{
		right: -5% !important;
		top: 20% !important;
	}
}
/*end 576*/

@media only screen and (max-width: 480px){
	footer{padding-bottom: 0 !important;}
	header .banner-top .main-menu{
		margin-top: 20px !important;
	}
	header .banner-content{
		right: -15% !important;
		top: 20% !important;
	}
	header .banner-content span{
		font-size: 20px !important;
	}
	header .banner-content h1{
		font-size: 30px !important;
	}
	header .nut .class-to-style{
		font-size: 15px !important;
	}
	.content-1 .els{
		flex-wrap: wrap !important; 
		width: 90% !important;
		margin: auto;
	}
	.content-1 .els .el{
		width: 100% !important;
		margin-bottom: 20px;
	}
	.content-4 .cover{
		background-position: -490px center !important;
		padding: 0 15px !important;
	}
	.cover .content-4-child h2{font-size: 28px !important;}
	section.content-5 .login .input{width: 90% !important;}
	section.content-5 .login .input input{width: 90% !important;}
	.end .row{	width: 100%; margin: 0; }
	.end .row .end-page{ 
		padding: 10px 10px;
		display: flex !important;
		justify-content: center !important;
		/*align-items: center !important;*/
	}
	.end{padding: 0 !important;}
	section.content-2{padding: 0 !important;}
	section.content-2 .menu-content li{font-size: 13px !important;}
	section.content-2{margin-bottom: 30px !important; }
}
/*end 425px*/

@media only screen and (max-width: 375px){
	header .banner-content{
		visibility: hidden;
	}
	.content-2 .menu-content ul li{
		padding: 5px 10px !important;
	}
	section.content-2 .service .sv{
		width: calc(100%/1 - 60px/1)!important; 
		margin: auto;
	}
	section.content-5 .login .input input{
		width: 85% !important;
	}
	.content-4 .cover{		
		background-image: -webkit-linear-gradient(top, #f4f5f9 0%, white 100%) !important;
		padding: 0px 5px !important;
	}
}
/*end 375px*/

@media only screen and (max-width: 320px){
	.cover .content-4-child{
		width: 310px !important;
		height: auto !important;
		margin: auto !important;
	}
}
/*end 320px*/