@import url("_mobile.css");

*{
	margin: 0;
	padding:0;
}

span {}

header .nut, .class-to-style {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 45%;
    font-size: 50px;
    padding: 0 20px;
    margin: auto;
    left: 0;
}

header .slick-dots {
    position: absolute;
    bottom: 20px;
}

header .slick-dots button {
    color: #666666;
}

header .slick-dots .slick-active button {
    border: 2px solid #ff26b0;
    border-radius: 50px;
    padding: 0px;
    background-color: #80808000;
}

header .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: relative;
    /* color: #666666; */
    /* border: 4px solid; */
    /* display: flex; */
    /* background: none; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid #ff00aa; */
}

.carousel-indicators .active {
    background-color: grey;
}

header .carousel-indicators li.active {
    background-color: none;
    /* position: relative; */
    border: 2px solid #ff00aa;
}

header .carousel-indicators li.active:before {
    /* border: 2px solid #ff00aa; */
    /* width: 15px; */
    height: 15px;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 50px;
    margin-right: 100%;
}

header .carousel-indicators li.active :before {/* background: none; */border: 4px solid #ff00aa;}
body{
	font-family: 'Montserrat', sans-serif;
}
section.content-2 .service .sv a span {
    display: block;
    font-size: 15px;
    transition: 0.4s;
    color: #5d5d5d;
    font-family: 'Lato', sans-serif;
}

section.content-2 .service .sv a p {
    width: auto;
    margin: 0;
    display: block;
}

section.content-2 .service .sv a.old {
    width: 100px;
}
.container{
	max-width: 1180px;
	margin: auto;
	padding: 0;
}

.nd-1 {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.nd-1:nth-child(1) {
    border-bottom: 1px solid #0000003b;
    padding: 0;
    height: 80px;
}

.nd .nd-1 span {
    display: flex;
    color: #ff26b0;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

.nd .nd-1 p {
    color: #686868;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px;
    height: 20px;
}

.nd .nd-1 a {
    font-size: 13px;
    color: #aeaeae;
    font-weight: bold;
    text-transform: lowercase;
    font-family: 'Lato', sans-serif;
}

.nd .nd-1 a i {
    color: #ff26b0;
}

.nd .nd-1 span h6 {
    margin: 0;
    margin-left: 5px;
    height: 20px;
    font-size: 13px;
    color: #aeaeae;
    font-weight: bold;
    line-height: 22px;
}

.nd .nd-1 span {
    /* color: grey; */
}

.icon-contact i {
    display: inline-block;
    width: auto;
    padding: 5px 5px;
    color: #aeaeae;
    transition: 0.2s;
    cursor: pointer;
}

.icon-contact i:hover {
    color: #ff26b0;
}

footer .icon-contact {
    height: 30px;
    margin-top: 30px;
}

.contact ul {
    list-style: none;
}

.contact ul li {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.contact ul li i {
    width: 0px;
    font-size: 15px;
    margin-right: 10px;
    color: #ff26b0;
    background-color: green;
}

.contact ul li span {
    text-align: left;
    font-size: 13px;
    color: #333333;
    font-weight: 500;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

body a:hover{text-decoration: none;}

footer .menu-footer ul {
    list-style: none;
}

footer .menu-footer ul li a {
    color: #333333;
    font-weight: 500;
    padding-bottom: 10px;
    display: block;
    margin-left: -10px;
    transition: 0.4s;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

footer .menu-footer ul li a:hover i {
    opacity: 1;
    visibility: visible;
}

footer .menu-footer ul li a:hover {
    color: #ff26b0;
    margin-left: 0;
}

footer .menu-footer ul li a i {
    opacity: 0;
    visibility: hidden;
}

footer {
    width: 100%;
    height: auto;
    background-color: #f4f5f9;
    padding-top: 60px;
    padding-bottom: 55px;
}

footer p {
    margin-bottom: 35px;
    font-size: 16px;
    text-transform: uppercase;
    height: 35px;
}
footer .col-sm-6 >span {
    margin-bottom: 35px;
    font-size: 16px;
    text-transform: uppercase;
    height: 35px;
    position: relative;
    display: block;
    font-weight: 600;
}

footer .col-sm-6 >span:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    background-color: #c5c5c7;
    bottom: 0;
    left: 0;
}

footer .col-sm-3 >span:after{
	position: absolute;
	content: "";
	width: 20px;
	height: 2px;
	background-color: #aaaaaa;
	bottom: 0px;
	left: 0;
}

section.content-5 {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
}

section.content-5 .login span {
    font-weight: bolder;
    font-size: 18px;
    position: relative;
    color: #333333;
}

section.content-5 .login span:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #aaaaaa;
    bottom: -5px;
    left: 0;
}

section.content-5 .login span:after {
    /* position: absolute; */
    /* width: 30px; */
    /* height: 2px; */
    /* background-color: black; */
}

section.content-5 .login p {
    color: grey;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 14px;
}

section.content-5 .login .input {
    width: 480px;
    margin: auto;
    margin-top: 30px;
    height: 45px;
    border: 1px solid #808080;
    padding: 4px;
    box-sizing: border-box;
}

section.content-5 .login .input input {
    width: 430px;
    float: left;
    padding-left: 15px;
    border: 0;
    font-size: 13px;
    color: #111;
    height: 35px;
    font-weight: 600;
}

section.content-5 .login .input i {
    display: block;
    width: 40px;
    float: right;
    background-color: #f94ebc;
    color: white;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
}

.cover .content-4-child {
    width: 350px;
    text-align: right;
}

.cover .content-4-child h2 {
    font-size: 35px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {}

section.content-3 {
    width: 100%;
    height: auto;
    margin-bottom: 75px;
}

section.content-3 .els-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.content-3 .els-3 .el-3 {
    width: calc(100%/3 - 40px/3);
    background: #f8f8f8;
    padding : 3;
    display: flex;
    padding: 30px 35px;
    transition: 0.4s;
    box-sizing: border-box;
    height: 110px;
}

section.content-3 .els-3 .el-3:hover {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

section.content-3 .els-3 .el-3 .icon {
    width: auto;
    font-size: 30px;
    color: #ff26b0;
    margin-right: 15px;
    /* display: flex; */
    line-height: 0;
}

section.content-3 .els-3 .el-3 .text span {
    color: #969696;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

section.content-3 .els-3 .el-3 .text h4 {
    color: #555555;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.content-1 .menu-content {
    margin-bottom: 50px;
}

section.content-2 .menu-content ul {
    list-style: none;
    text-align: center;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

section.content-2 .menu-content ul li {
    /* display: inline-block; */
    position: relative;
    width: auto;
    padding: 5px 30px;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
}

section.content-2 .menu-content ul li span:before {content: "";width: 20px;height: 2px;background-color: #aaaaaa;bottom: 0;position: absolute;opacity: 0;}

section.content-2 .menu-content ul .active-btn span:before {
    opacity: 1;
}

section.content-2 .menu-content ul li:focus li:before {
    opacity: 1;
}

section.content-2 .menu-content ul .active:before {}

section.content-2 .menu-content ul .active:before {}

section.content-2 .menu-content ul li.active-btn{
    color: #f94ebc;
}

section.content-2 .menu-content ul li:nth-child(1):after {
    content: "|";
    line-height: 30px;
    color: #aaaaaa;
}

section.content-2 .menu-content ul li:nth-child(1):after {content: "";position: absolute;top: 10px;right: 0;line-height: 30px;color: #aaaaaa;WIDTH: 1px;height: 15px;border-right: 1px solid;}

section.content-2 .menu-content ul li:nth-child(2):after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    line-height: 30px;
    color: #aaaaaa;
    WIDTH: 1px;
    height: 15px;
    border-right: 1px solid;
}

section.content-2 .menu-content ul li:hover {
    color: #f94ebc;
}

section.content-2 {
    width: 100%;
    height: auto;
    padding: 75px 0;
}

section.content-2 .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

section.content-2 .service.active {
    opacity: 1;
    visibility: visible;
}

section.content-2 .service .sv {
    width:  calc(100%/4 - 60px/4);
    margin-bottom: 30px;
    position: relative;
    transition: 0.4s;
    /* height: 430px; */
}

section.content-2 .service .sv:hover span {color: black;}

section.content-2 .service .sv:nth-child(1):after{
	content: "NEW";
	position: absolute;
	top:20px;
	left: 20px;
	width: 50px;
	height: 25px;
	background-color: #b8b8b8;
	text-align: center;
	line-height: 25px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

section.content-2 .service .sv:nth-child(3):after{
	content: "NEW";
	position: absolute;
	top:20px;
	left: 20px;
	width: 50px;
	height: 25px;
	background-color: #7ac1f7;
	text-align: center;
	line-height: 25px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

section.content-2 .service .sv a {
    margin-top: 15px;
    color: #333333;
    font-size: 15px;
    display: block;
    font-weight: bold;
}

section.content-2 .service .sv a .old{color: #b6b6b6;text-decoration: line-through;margin-right: 5px;}

section.content-2 .service .sv a label {
    color: #ff26b0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

section.content-2 .service .sv img {
    width: 100%;
    /* height: 357px; */
}

.content-1 .els {
    display: flex;
    justify-content: space-between;
    /* width: 1180px; */
}

.content-1 .els .el {
    position: relative;
    width: calc(100%/3 - 40px/3);
    /* height: 518px; */
    transition: 0.4s;
}

.content-1 .els .el:hover {
    box-shadow: -10px 10px 30px -10px grey;
}

.content-1 .els .el .el_content {
    position: absolute;
    right: 0;
    border: -54;
    bottom: 30px;
    padding: 5px 30px;
    width: auto;
    height: 70px;
    background-color: white;
    box-sizing: border-box;
    margin-right: 2px;
    text-align: right;
}

.content-1 .els .el .el_content span {
    color: #fa6cc6;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.content-1 .els .el .el_content h4 {
    font-size: 25px;
    font-weight: 600;
}

.content-1 .els .el img {
    width: 100%;
    height: 100%;
}

section.content-1 {
    width: 100%;
    padding-top: 30px;
}

header .banner-content span {
    font-size: 30px;
    color: grey;
    margin-bottom: 20px;
}

header .banner-content h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

header .banner-content button {
    font-size: 11px;
    color: white;
    background-color: #ff00aa;
    margin-top: 15px;
    transition: 0.4s;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

header .banner-content button:hover {
    background-color: black;
}

header .banner-content {
    position: absolute;
    width: 230px;
    /* height: 250px; */
    /* padding: 20px; */
    right: 20%;
    top: 40%;
    z-index: 5;
}

header .banner-top {
    width: 1180px;
    position: absolute;
    top: 0;
}

header .banner-top.fixed {
    position: fixed;
    background-color: #f4f5f9;
    z-index: 1000;
    width: 100%;
    display: flex;
}

header .banner-top.fixed .logo {
    display: none;
}

header .banner-top.fixed .main-menu {
    width: 1180px;
    margin: auto;
    height: 50px;
}

header .banner-top.fixed .main-menu ul {
    height: 50px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .banner-top.fixed .main-menu a {
    width: auto;
    color: #333333;
    transition: 0.4s;
    font-weight: 750;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}

header .banner-top.fixed .main-menu li:hover a {
    color: #ff26b0;
}

ul.text-right {}

header .main-menu ul li {
    /* display: block; */
    /* padding: 0 10px; */
    color: #333333;
    position: relative;
    margin-left: 25px;
}

header .main-menu ul li a {
	display: block;
	/* width: auto; */
	color: #333333;
	transition: 0.4s;
	font-weight: 600;
	text-transform: uppercase;
	/* visibility: hidden; */
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	}

header .main-menu ul li:nth-child(7):after {content: "|";position: absolute;right: 0;top: 0;/* padding: 0; */}

header .main-menu ul li:nth-child(8) {
    padding-right: 15px;
    margin: 0;
}

header .main-menu ul li:nth-child(8) span {
    position: absolute;
    top: -5px;
    font-size: 12px;
    color: #ff00aa;
    font-weight: 600;
}

header .main-menu ul li:nth-child(8):before {
    content: "2";
    position: absolute;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #ff00aa;
    top: -5px;
    font-weight: bold;
    visibility: hidden;
    right: 10px;
}

header .main-menu ul li:nth-child(7) {
    padding-right: 15px;
    margin-left: 25px;
}

header .main-menu ul li:nth-child(8):hover a:after {
    opacity: 0;
}

header .main-menu ul li:nth-child(9):hover a:after {
    opacity: 0;
}

header .main-menu ul li:nth-child(7):hover a:after {
    opacity: 0;
}

header .main-menu ul li:nth-child(8):after {
    content: "|";
    position: absolute;
    right: 0;
    top: 0;
    /* padding: 0; */
}

header .main-menu ul li:nth-child(9) {
    padding: 0;
    margin: 0;
}

header .main-menu ul li a:after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 30px;
    opacity: 0;
    transition: 0.4s;
    height: 2px;
    background-color: rgba(121, 119, 132, 0.45);
}

header .main-menu ul li:hover a:after {
    opacity: 1;
}

header .main-menu ul li a:hover {
    color: #ff26b0;
}

header .main-menu ul li:nth-child(1) {
    /* font-weight: bold; */
}

header .main-menu ul {
    list-style: none;
    /* width: 706px; */
    float: right;
    display: flex;
}


header .main-menu {
    /*width: 80%;*/
    float: left;
    margin-top: 30px;
    padding: 0;
}

header .logo {
    /*width: 20%;*/
    float: left;
    margin-top: 20px;
}
body,html{
	width: 100%;
	height: 100%;
	transition: 0.4s;
}
header{
	width: 100%;
	position: relative;
	justify-content: space-around;
	display: flex;
}
.content_2{
	width: 100%;
	height: auto;
	padding: 70px;
}
.content-4 .cover{
	background-image: url(images/anhcuoi_03.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	/* height: 460px; */
	padding-top: 115px;
	padding-left: 115px;
	padding-bottom: 100px;
}

.content-4 .cover .price {
    font-size: 18px;
    font-weight: bolder;
    color: #b3b3b3;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif !important;
}

.content-4 .cover .time ul {
    margin-top: 40px;
    list-style: none;
}

.content-4 .cover .time ul li {
    display: inline-block;
    width: 50px;
    border: 2px solid #b3b3b3;
    height: 50px;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #b3b3b3;
    padding: 0px;
    /* text-transform: uppercase; */
}

.content-4 .cover .time ul li span {
    font-size: 18px;
    font-weight: bold;
    color: #ff26b0;
    display: block;
    width: 100%;
    margin: 0;
    height: 50%;
}

.content-4 .cover .time ul li a h6 {
    font-size: 13px;
    color: #aeaeae;
    font-weight: bold;
}

.content-4 .cover span {
    color: #b3b3b3;
    /* font-weight: bold; */
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    /* width: auto; */
}

.content-4 .cover h6 {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.content-4 .cover .price .new {
    font-size: 25px;
    color: #ff26b0;
}

.content-4 .cover .price .old {
    text-decoration: line-through;
    font-size: 22px;
}
.end{
	width: 100%;
	height: auto;
	padding: 30px 0;
}

section.end p,h6 {
    display: inline;
    color: grey;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
}

section.end h6 {
    color: #ff26b0;
}

.content-2 .tabs{
	width: 100%;
	position: relative;
	height: 890px;
}

.up{
	position: fixed;
	bottom: 50px;
	right: 50px;
	background-color: #c5c5c7;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
}
.up i{font-size: 20px;}

.slides{
	width: 100%;
}
.slides ._1slide{
	width: 100%;
	position: relative;
}
.slides ._1slide img{
	width: 100%;
}

header .main-menu .logo-menu{
	visibility: hidden; 
	position: relative;
}
header .main-menu .logo-menu i{cursor: pointer;}

.content-4 .btn-control-cover{
	visibility: hidden;
	transition: 0.4s;
}

footer .row{
	width: 100%;
	margin: 0; 
}
.slick-slider .slick-dots li button:before{
	display: none;
}
.slick-slider .slick-dots li button{
	width: 8px;
	height: 8px;
	padding: 0;
	border-radius: 50%;
	background: #666666;
}
.slick-slider .slick-dots li.slick-active  button{
	width: 12px;
	height: 12px;
	border:solid 2px #ff00aa;
	background: transparent;
}
header .banner-top .main-menu ul.start-menu{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 35px;
	right: 0;
	width: 200px;
	background-color: #c5c5c77a;
	z-index: 1;
}
header .banner-top .main-menu ul.start-menu li{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 5px 0;
}

.end .row{
	width: 100%;
	margin: 0;
}
.end .row .end-page{
	/*padding-left: 10px; */
}
.slick-dotted.slick-slider{
	margin: 0 !important;
}	